
# Base URL of API Dynamic DNS server
# e.g. url=https://api.domain.com
url=@@URL@@

# Hostname of DNS and config entry
# e.g. hostname=home.domain.com
hostname=@@DNS_HOSTNAME@@

# Shared secret to use for communication
# e.g. sharedsecret=ZDhszNKMbmuFYBhZgAuzoQFbmcqM6CYb
sharedsecret=@@SHARED_SECRET@@
